h1 {
    color: #EAE2C6;
}

.box {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    color: #EAE2C6;
}

.titleField {
    margin-bottom: 10px;
    border-radius: 15px;
    width: 500px;
    padding: 10px;
    outline: none;
    background-color: rgba(193, 186, 161, .2); 
    color: white;
    margin-left: -7px;
}

.submitButton {
    width: 75px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(227, 205, 163, .25);
    border-color: rgb(227, 205, 163, .1);
    color: #EAE2C6;
    font-size:smaller;
    letter-spacing: 2px;
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submitButton:hover {
    background-color: rgba(227, 205, 163, 0.507);
}
