.box {
    width: 80%;
    height: 25rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    
    background-color: rgb(227, 205, 163, .15);
}

.chart {
    position: relative;
    width: 80%; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
    margin: auto;
}