
.container {
    /* Keeps the content in the center */
    margin-top: 3rem;
    
    margin-left: auto;
    margin-right: auto;
    /* Setting a width for the content */
    width: 1280px;
    display: flex;
    border: solid;
    flex-wrap: wrap;
    justify-content: center;
    

}

.item {
    /* border: solid; */
    display: flex;
    justify-content: center;
    width: 30rem;
    padding-top: 3rem;
}

.item1 {

}

.item2 {

}

.item3 {

}

@media (max-width: 800px) {
    .container {
        width: 600px;

    }
}