.box {
    border: solid;
    width: 80%;
    height: 40rem;
    border-radius: 50px;
    display: flex;
    padding-top: 2rem;
    border-color: rgba(227, 205, 163, .5);
    flex-direction: column; 
    align-items: center;
    /* Allows overflow data to seen by scrolling */
    overflow-y: auto;
}

/* Width of the entire scroll-bar */
.box::-webkit-scrollbar {
    width: 12px;
}

/* Makes the scroll bar track invisible */
.box::-webkit-scrollbar-track {
    background: transparent;
}

/* Rounded edges on the thumb and a shadow on the inside of it */
.box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}

/* Created a margin so the thumb doesnt go outside the div  */
.box::-webkit-scrollbar-track-piece:end {
    margin-bottom: 50px; 
}

.box::-webkit-scrollbar-track-piece:start {
    margin-top: 50px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #EAE2C6;
}

.taskRow {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-color: rgba(227, 205, 163, .5);
    border-radius: 10px;
    margin: 1rem;
    font-size: large;
    font-weight: bold;
    color: #EAE2C6;
}

.tasks {
    display: flex;
    font-size: 1rem;
    justify-content: flex-start;
    width: 100%;
    padding-left: 1rem;
}

.taskSelected {
    display: flex;
    text-decoration: line-through;
    font-size: 1rem;
    justify-content: flex-start;
    width: 100%;
    padding-left: 1rem;
}

/* Hide default checkbox */
.checkBox input {
    display: none;
}

.checkBox span {
  display: inline-block;
  width: 20px; /* Adjust size */
  height: 20px;
  border-radius: 50%; /* Makes it a circle */
  border: 2px solid #333; /* Border color */
  position: relative;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.829);
  border-width: .2rem;
}

.checkBox input:checked + span {
    background-color: #49483c; /* Change background when checked */
    border-width: .2rem;
}



