.box {
    border: solid;
    width: 80%;
    height: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    border-color: rgba(227, 205, 163, .5); 
}

.tasks {
    text-align: center;
}

.task {
    padding-top: 1rem;
}