.Header {
    background-color: #a79779;
    height: 50px;
    color: #EAE2C6 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.icon {
    cursor: pointer;
    padding-left: 3rem;
    font-size: 35px;
}

/* Dropdown */
.dropdown {
    margin-right: 10px;
}

.dropdown button {
    background-color: #a79779;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    font-size: large;
}

.dropdown button:hover {
    background-color: #bcb7a5;
}

.dropdown div div {
    display: block;
    color: black;
    padding: 10px 15px;
    width: 200px;
}

.dropdown .links {
    display: none; /* Defaults hide the dropdown */
    background-color: #a9a38f;
    position: absolute; /* Ensures that the dropdown shows on top of the webpage */
    box-shadow: 2px 2px 5px black;
    right: 0; /* This keeps the dropdown from overflowing over the right side of the screen */
}

.dropdown:hover .links {
        display: block; /* Unhides dropdown when mouse is hovered over button*/
}  

.dropdown div div:hover {
    background-color: #eae2c7;
}
