.Header {
    background-color: rgba(227, 205, 163, .5);
    height: 50px;
    color: #EAE2C6 ;
    font-size: 35px;
    border: solid;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.icon {
    cursor: pointer;
    padding-left: 3rem;
}

.links {
    cursor: pointer;
    padding-right: 3rem;
}

/* .Header {
    background-color: rgba(227, 205, 163, 0.5); @
    height: 50px;@
    color: #EAE2C6;@
    display: flex;@
    align-items: center;@
    font-size: 35px;@
    padding-left: 40px;@
    position: fixed;@
    width: 100%;@
    z-index: 1000;@
    top: 0; @
    left: 0;@
    backdrop-filter: blur(10px); 
} */
