.box {
    width: 80%;
    height: 30rem;
    padding-top: 1rem;
    border-radius: 50px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-color: rgb(227, 205, 163, .15);
    /* Allows overflow data to seen by scrolling */
    overflow-y: auto;
    flex-direction: column;
    border: solid;
    border-width: 10px;
    padding-bottom: 2rem;
    
}

.title {
    text-align: center;
    width: 100%;
}

.title_completed {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.title_hidden {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/* Width of the entire scroll-bar */
.box::-webkit-scrollbar {
    width: 5px;
}

/* Makes the scroll bar track invisible */
.box::-webkit-scrollbar-track {
    background: transparent;
}

/* Rounded edges on the thumb and a shadow on the inside of it */
.box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5); 
}

/* Created a margin so the thumb doesnt go outside the div  */
.box::-webkit-scrollbar-track-piece:end {
    margin-bottom: 50px; 
}

.box::-webkit-scrollbar-track-piece:start {
    margin-top: 50px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 5px;
    margin-left: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(102, 93, 55);
    transition: 1s;
}

.cellCompleted {
    background-color: rgb(68, 86, 43);
    color: rgb(144, 144, 144);
}

.cellFailed {
    background-color: rgb(86, 59, 43);
    color: rgb(144, 144, 144);
}